.parent{
    margin-top: 30px;
    width: 500px;
    height: 1700px;
    box-sizing:border-box ;
}
.shared{
    border: 5px solid rgb(140, 140, 223);
}
.child{
    margin: 40% 10px 50px 50px;
    width: 150px;
    height: 150px;
    padding: 50% 50%;
    box-sizing:border-box ;
}
.circle{
    border: 5px solid blue;
    border-radius: 50%;
    width: 50px;
    margin: 10px 50%;
}
.v{
    font-family: 'Dancing Script', cursive;
}
.ss{
    width: 100%;
    background-image: url(../../assets/media/images/cartoon.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:fixed;
}
.d{
    border: 5px solid cyan;
}
.div{
    margin: 0% 5% ;
    width: 100px;
    display: inline-block;
    border: 5px solid lightcoral;
}
.a{
    width: 150px;
    height: 150px;
    border: 5px solid lightcoral;
    overflow: auto;
    
}
.c{
    text-shadow: 10px 20px 10px cyan;
    direction: rtl;
}
a{
    text-decoration: none;
}
.auto{
    width: 1200px;
    margin: auto;
    
}
.divv{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT3mxlO4cxVFXQ-y9Nn70JLn9idzx4l09KN-SvM7Zwa9vGt6SlocWKcF16xKt1tqjsdy1g&usqp=CAU);
    background-position: center right;
    background-repeat: no-repeat;
    border: 3px solid black;
    background-size: contain;
}
.di{
    width: 100%;
    height: 100px;
    background-color: bisque;
}
span{
    background-color: yellowgreen;
    top: 0%;
    left:0%;
}
.sp{
    float: left;
    width: 25%;
    height: 50px;
}
.spa{
    float: left;
    background-color: blueviolet;
}
.cla .web,.cla .prog,.cla .math{
    display: none;
    width: 25%;
    height: 50px;
}
.w:hover .web{
    display: block;
}
.p:hover .prog{
    display: block;
}
.m:hover .math{
    display: block;
}
a{
    display: block;
}
.m :hover{
    background-color: blue;
}
.box{
    color: white;
    width: 150px;
    height: 100px;
    border: 3px solid rgb(70, 172, 64);
    background-color: rgb(131, 192, 131);
    position: relative;
    animation-name: movingcolor;
    animation-duration: 5s;
}
@keyframes movingbox{
    0%{
        left: 400px;
    }
    50%{
        left: 600px;
    }
    100%{
        left: 800px;
    }
}
@keyframes movingcolor{
    0%{
        border: 3px solid rgb(70, 172, 64);
        background-color: rgb(131, 192, 131);
        left: 0px;
        top: 0px;
    }
    25%{
        border: 3px solid rgb(222, 144, 55);
        background-color: rgb(235, 221, 128);
        left: 700px;
        top: 0px;
    }
    50%{
        border: 3px solid rgb(43, 92, 123);
        background-color: rgb(133, 173, 211);
        left: 700px;
        top: 500px;
    }
    75%{
        border: 3px solid rgb(217, 65, 65);
        background-color: rgb(229, 152, 152);
        left: 0px;
        top: 500px;
    }
    100%{
        border: 3px solid rgb(70, 172, 64);
        background-color: rgb(131, 192, 131);
        left: 0px;
        top: 0px;
    }
}
.boxrounded{
    border-radius: 50%;
    line-height: 150px;
    text-align: center;
    border: 3px solid black;
    background-color: aquamarine;
    width: 150px;
    height: 150px;
}
.container{
    position: relative;
    
}
.negative{
    position:absolute;
    width: 300px;
    height: 200px;
    border: 3px solid saddlebrown;
    z-index: -1;
    background-color: rgb(209, 160, 99);
}
.zero{
    left: 40px;
    position:absolute;
    width: 200px;
    height: 185px;
    border: 7px solid rebeccapurple;
    z-index: 0;
    background-color: rgb(217, 125, 194);
}
.one{
    left: 75px;
    position:absolute;
    width: 100px;
    height: 150px;
    border: 10px solid salmon;
    z-index: 1;
    background-color: white;
}
.more{
    left: 110px;
    position:absolute;
    width: 70px;
    height: 100px;
    border: 10px solid rgb(23, 115, 36);
    z-index: 2;
    background-color: rgb(167, 245, 181);
}
h1{
    position: relative;
}
.TestBeforeAfter h1::after {
    content: '';
    display: inline-block;
    width: 15px;
    height: 15px;
    position: absolute;
    bottom: 0px;
    left: 45px;
    border-bottom: 3px solid black;
    border-right: 3px solid black;
}

.TestBeforeAfter h1::before {
    content: '';
    display: inline-block;
    width: 15px;
    height: 15px;
    position: absolute;
    bottom: 20px;
    left: 0px;
    border-top: 3px solid black;
    border-left: 3px solid black;
}